.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


.col1{
  background-color: white;
  border: 1px solid black;
}
.col2 {
  background-color: red ;
}
.col2row2{

  width: 100%;
  background-color: white;
  border: 1px dotted black;
}
.col3 {
  background-color: purple;
}

.container{
  margin: 0 centre;
  max-width: 900 px;
}

