.App {
  text-align: center;
  border: 1px solid pink;
  height: auto;
}

.content-1{
  background-color: blue;
  border: 3px solid purple;
}

.bar-chart {
  height: auto;
  width: auto;
  border: 5px solid greenyellow;
  background-color: white;
  /* display: flex; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
}