.chatList {
    height: 400px;
    width : auto;
    overflow-y: scroll;
    border: 3px solid black;
    background-color: white;
}

.chatbox {
    height : 500px;
    width: auto;
    border: 1px solid lightcyan;
    vertical-align:top;
    display:flexbox;
}

.chatbox-title {
    border: 2px solid black;
}
.chatbox-input {
    height:30px;
    border: 2px solid lemonchiffon;
    vertical-align:top;
}